body {font-family: "Garamond",Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;}
dd {margin-left: 0px;}
#container {max-width: 450px;
			text-align: center;}
ul, li{ list-style:none;
    	list-style-type:none;
    	padding-left: 0}