h1, h2, h3, h4 { text-align: center }
#response {text-align: right}
body {font-family: 'Abel', sans-serif;
font-size: 12px;}
#whole {
  padding-top: 10px;
  padding-right: 75px;
  padding-bottom: 10px;
  padding-left: 75px;
}

.animation-box {
  width: 85%;
  height: 20rem;
  margin: 0 auto;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  position: absolute;
  font-size: 1rem;
  opacity: 0.1;
  animation-name: topFadeOut;
  animation-duration: 5s;
}

.second-text {
  position: absolute;
  font-size: 1rem;
  opacity: 0.2;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  opacity: 0.3;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  opacity: 0.1;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  opacity: 0.3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

.sixth-text {
  font-size: 5rem;
  position: absolute;
  opacity: 0;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

.seventh-text {
  font-size: 7rem;
  position: absolute;
  opacity: 0.3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

.eighth-text {
  position: absolute;
  opacity: 0.4;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}