/* sourced from Slideshow, CSS only
A PEN BY Natalie Nordstrm on codepen.io*/

body {font-family: 'Abel', sans-serif;
font-size: 12px;
padding: 5%;}

h1, h2, h3, h4 { text-align: center }

#response {text-align: right}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  -webkit-animation: slide 30s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}